<div class="certifications-container">
    <div class="certification">
      <a href="https://learn.microsoft.com/api/credentials/share/en-us/KjetilFurs-3628/3DC41FBA975DE8C4?sharingId=E735EEC265D912D0" target="_blank" rel="noopener noreferrer">
        <img src="https://learn.microsoft.com/media/learn/certification/badges/microsoft-certified-associate-badge.svg" alt="Microsoft Certified: Azure Administrator Associate">
        <p>Microsoft Certified: Azure Administrator Associate</p>
      </a>
    </div>
    <div class="certification">
      <a href="https://learn.microsoft.com/api/credentials/share/en-us/KjetilFurs-3628/4491891F35838FE6?sharingId=E735EEC265D912D0" target="_blank" rel="noopener noreferrer">
        <img src="https://learn.microsoft.com/media/learn/certification/badges/microsoft-certified-expert-badge.svg" alt="Microsoft Certified: Azure Solutions Architect Expert">
        <p>Microsoft Certified: Azure Solutions Architect Expert</p>
      </a>
    </div>
  </div>
  